<div class="container" *ngIf="moviesState | async; else noMoviesBlock">
<!-- <div class="container">  -->
    <search-movies (onSearch)="searchRes($event)"></search-movies>
    
     <ul class="found-movies">
      <li *ngFor="let movie of (moviesState | async).found">
        <a [routerLink]="['/movie', movie.id]">
          <found-movie-item [movie]="movie"></found-movie-item>
        </a>
      </li>
    </ul> 

   <div class="top-movies">
     <h2>Top Rated movies on TMDb</h2>
      <ul>
        <li *ngFor="let movie of (moviesState | async).movies" appHoverClass>
            <a class="normal" [routerLink]="['/movie', movie.id]">
              <img [src]="movie.posterImage" />
            </a>
            <div class="info">
              <top-movie-item [movie]="movie"></top-movie-item>
            </div>
        </li>
      </ul>
   </div>
</div>
<ng-template #noMoviesBlock>Something went wrong</ng-template>